<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <connectionStrings>
        <add name="connectionString" connectionString = "Server=192.168.1.162,9999;Database=firma_curierat;user=sa;password=Admin12345!"/>
    </connectionStrings>
    <appSettings>
        <!-- <add key="parentNoColumns" value="8"/> -->
        <!-- <add key="parentSelect" value="SELECT * FROM tables.client_address"/> -->
        <!-- -->
        <!-- <add key="childSelect" value="SELECT * FROM tables.Client where id_client_address = @address"/> -->
        <!-- <add key="childSelectByParameterName" value="@address"/> -->
        <!-- <add key="childSelectByParameterTableName" value="id_client_address"/> -->
        <!-- -->
        <!-- <add key="childNoColumns" value="6"/> -->
        <!-- <add key="childColumns" value="id_client,first_name,last_name,personal_identification_number,id_client_address"/> -->
        <!-- <add key="childInsertQuery" value="INSERT INTO TABLES.Client (first_name, last_name, personal_identification_number, id_client_address) VALUES (@first_name, @last_name, @personal_identification_number, @id_client_address)"/> -->
        <!-- <add key="childInsertParams" value="first_name,last_name,personal_identification_number,id_client_address"/> -->
        <!-- <add key="childDeleteQuery" value="DELETE FROM tables.Client WHERE id_client = @id_client"/> -->
        <!-- <add key="childIdParam" value="id_client"/> -->
        <!-- <add key="updateQuery" value="UPDATE TABLES.Client SET first_name = @first_name, last_name = @last_name, personal_identification_number = @personal_identification_number, id_client_address = @id_client_address WHERE id_client = @id_client"/> -->
        <!-- <add key="updateQueryParams" value="first_name,last_name,personal_identification_number,id_client_address,id_client"/> -->
        <add key="parentNoColumns" value="8"/>
        <add key="parentSelect" value="SELECT * FROM tables.courier_car"/>

        <add key="childSelect" value="SELECT * FROM tables.courier where id_car = @id_car"/>
        <add key="childSelectByParameterName" value="@id_car"/>
        <add key="childSelectByParameterTableName" value="id_car"/>

        <add key="childNoColumns" value="6"/>
        <add key="childColumns" value="id_courier,personal_identification_number,first_name,last_name,salary,id_car"/>
        <add key="childInsertQuery" value="INSERT INTO TABLES.courier (personal_identification_number, first_name, last_name, salary, id_car) VALUES (@personal_identification_number, @first_name, @last_name, @salary, @id_car)"/>
        <add key="childInsertParams" value="personal_identification_number,first_name,last_name,salary,id_car"/>
        <add key="childDeleteQuery" value="DELETE FROM tables.courier WHERE id_courier = @id_courier"/>
        <add key="childIdParam" value="id_courier"/>
        <add key="updateQuery" value="UPDATE TABLES.courier SET first_name = @first_name, last_name = @last_name, personal_identification_number = @personal_identification_number, salary = @salary WHERE id_courier = @id_courier"/>
        <add key="updateQueryParams" value="first_name,last_name,personal_identification_number,salary,id_car,id_courier"/>

    </appSettings>
</configuration>